LIST

In [3]:
x1=[1,2,"Ome",True,1.25]

In [4]:
type(x1)

list

# Indexing -find the position of a member of the list

In [5]:
x1.index(2)

1

# Range

In [13]:
range_list=[1,2,4,6,7,9]

In [14]:
print(range_list)

[1, 2, 4, 6, 7, 9]

In [15]:
X2=[1,2,1,3,5,4,7,6]

In [16]:
X2.sort()

In [17]:
print(X2)

[1, 1, 2, 3, 4, 5, 6, 7]

In [18]:
X2.sort(reverse=True)

In [19]:
print(X2)

[7, 6, 5, 4, 3, 2, 1, 1]

# Seperator

In [20]:
print(1,2,3,sep=",,,")

1,,,2,,,3

In [21]:
print("Ashikur","Rahman", sep="-", end="\n\n")
print("I am" )

Ashikur-Rahman

I am

In [22]:
print(1,2,3,end="....")

1 2 3....

# Directory of tuple

In [23]:
print(dir(tuple),"\t")

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

# Dictionary

In [24]:
student={"Name": "Ashik",
         "Age":39,
        "GPA":3.5}

In [25]:
print(student)

{'Name': 'Ashik', 'Age': 39, 'GPA': 3.5}

In [26]:
print(student["Name"])

Ashik

In [27]:
student["Age"]=38

In [28]:
print(student)

{'Name': 'Ashik', 'Age': 38, 'GPA': 3.5}

In [29]:
del student["Age"]

In [30]:
print(student)

{'Name': 'Ashik', 'GPA': 3.5}

# SET

In [31]:
data={1,2,3,5}

In [32]:
print(data)

{1, 2, 3, 5}

In [33]:
t1=("USA", "Bangladesh")

In [34]:
"Bangladesh" in t1

True

In [98]:
with open("ome.text",'w') as f:
    f.write("hello\n how are you?")
    print(f"save this to the file", file=f)

In [102]:
with open("ome.text","r")as f:
    print(f.read())

hello
 how are you?save this to the file

# Adding in list

In [39]:
list_1=[2,3,1,5,6,True]

In [40]:
list_1.sort()

In [41]:
print(list_1)

[1, True, 2, 3, 5, 6]

In [42]:
list_1.reverse()

In [43]:
print(list_1)

[6, 5, 3, 2, True, 1]

In [44]:
list_1.append(8)

In [45]:
print(list_1)

[6, 5, 3, 2, True, 1, 8]

In [46]:
list_1.sort()
list_1.append(4)

In [47]:
print(list_1)

[True, 1, 2, 3, 5, 6, 8, 4]

In [48]:
list_1.insert(0,"Ome")

In [49]:
list_1

['Ome', True, 1, 2, 3, 5, 6, 8, 4]

In [50]:
list_1.count("Ome")

1

In [51]:
list_1.pop(1)

True

In [52]:
string=[item for item in list_1 if isinstance(item, str)]
print(string)

['Ome']

In [53]:
integer=[item for item in list_1 if isinstance(item,int)]
print(integer)

[1, 2, 3, 5, 6, 8, 4]

In [54]:
boolen=[item for item in list_1 if isinstance(item, bool)]
print(boolen)

[]

In [55]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [56]:
for i in range(1,10,2):
    print(i,end="...")

1...3...5...7...9...

In [57]:
for i in range(1,10,2):
    print(i,end="I\nam\nOme")

1I
am
Ome3I
am
Ome5I
am
Ome7I
am
Ome9I
am
Ome

In [58]:
print(dir(list))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [59]:
methods=[method for method in dir(list) if callable(getattr(list, method)) and not method.startswith('_')]
print(methods)

['append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

# String

In [60]:
A="Hello"

In [61]:
print(A[0])

H

In [62]:
A.remove("H")

AttributeError: 'str' object has no attribute 'remove'

# String

In [63]:
print(dir(str))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [64]:
s1= " hello"

In [65]:
s1.replace("hello", "hi")

' hi'

s1

In [66]:
s1

' hello'

In [67]:
s1.replace("hello", "hi")

' hi'

In [68]:
print(s1)

 hello

In [69]:
s1.count("l")

2

In [70]:
s1.isidentifier()

False

In [71]:
name, score ='Mandal', 100
with open("output1.txt", "w") as f:
    print(f"{name} scored {score} marks :: PIIT Boot Camp - Saving this to a file.", file=f)

In [72]:
import os

In [73]:
print(os.listdir(), end ='\t')

['.git', '.ipynb_checkpoints', 'Aaira.text', 'mtcarsdata.xlsx', 'ome.text', 'output1.txt', 'py', 'Python class-PIIT.ipynb', 'Python class.1']

In [74]:
with open("output1.txt", "r") as f:
    content = f.read()
    print(content)

Mandal scored 100 marks :: PIIT Boot Camp - Saving this to a file.

In [97]:
with open("Aaira.text","w") as f:
    print(f"Aaira is my beloved daughter and save the statement in the file", file=f)

In [76]:
with open("Aaira.text","r") as f:
    print(f.read())

Aaira is my beloved daughter and save the statement in the file

In [77]:
import os

In [78]:
print(os.listdir())

['.git', '.ipynb_checkpoints', 'Aaira.text', 'mtcarsdata.xlsx', 'ome.text', 'output1.txt', 'py', 'Python class-PIIT.ipynb', 'Python class.1']

# Installing library and pull data set

In [79]:
pip install pydataset

Requirement already satisfied: pydataset in c:\users\rahma\anaconda3\lib\site-packages (0.2.0)
Requirement already satisfied: pandas in c:\users\rahma\anaconda3\lib\site-packages (from pydataset) (1.4.4)
Requirement already satisfied: pytz>=2020.1 in c:\users\rahma\anaconda3\lib\site-packages (from pandas->pydataset) (2022.1)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\rahma\anaconda3\lib\site-packages (from pandas->pydataset) (2.8.2)
Requirement already satisfied: numpy>=1.18.5 in c:\users\rahma\anaconda3\lib\site-packages (from pandas->pydataset) (1.21.5)
Requirement already satisfied: six>=1.5 in c:\users\rahma\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas->pydataset) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [80]:
from pydataset import data

In [81]:
print(data())

        dataset_id                                             title
0    AirPassengers       Monthly Airline Passenger Numbers 1949-1960
1          BJsales                 Sales Data with Leading Indicator
2              BOD                         Biochemical Oxygen Demand
3     Formaldehyde                     Determination of Formaldehyde
4     HairEyeColor         Hair and Eye Color of Statistics Students
..             ...                                               ...
752        VerbAgg                  Verbal Aggression item responses
753           cake                 Breakage Angle of Chocolate Cakes
754           cbpp                 Contagious bovine pleuropneumonia
755    grouseticks  Data on red grouse ticks from Elston et al. 2001
756     sleepstudy       Reaction times in a sleep deprivation study

[757 rows x 2 columns]

In [82]:
A=data("AirPassengers")

In [83]:
print(A)

            time  AirPassengers
1    1949.000000            112
2    1949.083333            118
3    1949.166667            132
4    1949.250000            129
5    1949.333333            121
6    1949.416667            135
7    1949.500000            148
8    1949.583333            148
9    1949.666667            136
10   1949.750000            119
11   1949.833333            104
12   1949.916667            118
13   1950.000000            115
14   1950.083333            126
15   1950.166667            141
16   1950.250000            135
17   1950.333333            125
18   1950.416667            149
19   1950.500000            170
20   1950.583333            170
21   1950.666667            158
22   1950.750000            133
23   1950.833333            114
24   1950.916667            140
25   1951.000000            145
26   1951.083333            150
27   1951.166667            178
28   1951.250000            163
29   1951.333333            172
30   1951.416667            178
31   1951.500000            199
32   1951.583333            199
33   1951.666667            184
34   1951.750000            162
35   1951.833333            146
36   1951.916667            166
37   1952.000000            171
38   1952.083333            180
39   1952.166667            193
40   1952.250000            181
41   1952.333333            183
42   1952.416667            218
43   1952.500000            230
44   1952.583333            242
45   1952.666667            209
46   1952.750000            191
47   1952.833333            172
48   1952.916667            194
49   1953.000000            196
50   1953.083333            196
51   1953.166667            236
52   1953.250000            235
53   1953.333333            229
54   1953.416667            243
55   1953.500000            264
56   1953.583333            272
57   1953.666667            237
58   1953.750000            211
59   1953.833333            180
60   1953.916667            201
61   1954.000000            204
62   1954.083333            188
63   1954.166667            235
64   1954.250000            227
65   1954.333333            234
66   1954.416667            264
67   1954.500000            302
68   1954.583333            293
69   1954.666667            259
70   1954.750000            229
71   1954.833333            203
72   1954.916667            229
73   1955.000000            242
74   1955.083333            233
75   1955.166667            267
76   1955.250000            269
77   1955.333333            270
78   1955.416667            315
79   1955.500000            364
80   1955.583333            347
81   1955.666667            312
82   1955.750000            274
83   1955.833333            237
84   1955.916667            278
85   1956.000000            284
86   1956.083333            277
87   1956.166667            317
88   1956.250000            313
89   1956.333333            318
90   1956.416667            374
91   1956.500000            413
92   1956.583333            405
93   1956.666667            355
94   1956.750000            306
95   1956.833333            271
96   1956.916667            306
97   1957.000000            315
98   1957.083333            301
99   1957.166667            356
100  1957.250000            348
101  1957.333333            355
102  1957.416667            422
103  1957.500000            465
104  1957.583333            467
105  1957.666667            404
106  1957.750000            347
107  1957.833333            305
108  1957.916667            336
109  1958.000000            340
110  1958.083333            318
111  1958.166667            362
112  1958.250000            348
113  1958.333333            363
114  1958.416667            435
115  1958.500000            491
116  1958.583333            505
117  1958.666667            404
118  1958.750000            359
119  1958.833333            310
120  1958.916667            337
121  1959.000000            360
122  1959.083333            342
123  1959.166667            406
124  1959.250000            396
125  1959.333333            420
126  1959.416667            472
127  1959.500000            548
128  1959.583333            559
129  1959.666667            463
130  1959.750000            407
131  1959.833333            362
132  1959.916667            405
133  1960.000000            417
134  1960.083333            391
135  1960.166667            419
136  1960.250000            461
137  1960.333333            472
138  1960.416667            535
139  1960.500000            622
140  1960.583333            606
141  1960.666667            508
142  1960.750000            461
143  1960.833333            390
144  1960.916667            432

In [84]:
print(A.head)

<bound method NDFrame.head of             time  AirPassengers
1    1949.000000            112
2    1949.083333            118
3    1949.166667            132
4    1949.250000            129
5    1949.333333            121
6    1949.416667            135
7    1949.500000            148
8    1949.583333            148
9    1949.666667            136
10   1949.750000            119
11   1949.833333            104
12   1949.916667            118
13   1950.000000            115
14   1950.083333            126
15   1950.166667            141
16   1950.250000            135
17   1950.333333            125
18   1950.416667            149
19   1950.500000            170
20   1950.583333            170
21   1950.666667            158
22   1950.750000            133
23   1950.833333            114
24   1950.916667            140
25   1951.000000            145
26   1951.083333            150
27   1951.166667            178
28   1951.250000            163
29   1951.333333            172
30   1951.416667            178
31   1951.500000            199
32   1951.583333            199
33   1951.666667            184
34   1951.750000            162
35   1951.833333            146
36   1951.916667            166
37   1952.000000            171
38   1952.083333            180
39   1952.166667            193
40   1952.250000            181
41   1952.333333            183
42   1952.416667            218
43   1952.500000            230
44   1952.583333            242
45   1952.666667            209
46   1952.750000            191
47   1952.833333            172
48   1952.916667            194
49   1953.000000            196
50   1953.083333            196
51   1953.166667            236
52   1953.250000            235
53   1953.333333            229
54   1953.416667            243
55   1953.500000            264
56   1953.583333            272
57   1953.666667            237
58   1953.750000            211
59   1953.833333            180
60   1953.916667            201
61   1954.000000            204
62   1954.083333            188
63   1954.166667            235
64   1954.250000            227
65   1954.333333            234
66   1954.416667            264
67   1954.500000            302
68   1954.583333            293
69   1954.666667            259
70   1954.750000            229
71   1954.833333            203
72   1954.916667            229
73   1955.000000            242
74   1955.083333            233
75   1955.166667            267
76   1955.250000            269
77   1955.333333            270
78   1955.416667            315
79   1955.500000            364
80   1955.583333            347
81   1955.666667            312
82   1955.750000            274
83   1955.833333            237
84   1955.916667            278
85   1956.000000            284
86   1956.083333            277
87   1956.166667            317
88   1956.250000            313
89   1956.333333            318
90   1956.416667            374
91   1956.500000            413
92   1956.583333            405
93   1956.666667            355
94   1956.750000            306
95   1956.833333            271
96   1956.916667            306
97   1957.000000            315
98   1957.083333            301
99   1957.166667            356
100  1957.250000            348
101  1957.333333            355
102  1957.416667            422
103  1957.500000            465
104  1957.583333            467
105  1957.666667            404
106  1957.750000            347
107  1957.833333            305
108  1957.916667            336
109  1958.000000            340
110  1958.083333            318
111  1958.166667            362
112  1958.250000            348
113  1958.333333            363
114  1958.416667            435
115  1958.500000            491
116  1958.583333            505
117  1958.666667            404
118  1958.750000            359
119  1958.833333            310
120  1958.916667            337
121  1959.000000            360
122  1959.083333            342
123  1959.166667            406
124  1959.250000            396
125  1959.333333            420
126  1959.416667            472
127  1959.500000            548
128  1959.583333            559
129  1959.666667            463
130  1959.750000            407
131  1959.833333            362
132  1959.916667            405
133  1960.000000            417
134  1960.083333            391
135  1960.166667            419
136  1960.250000            461
137  1960.333333            472
138  1960.416667            535
139  1960.500000            622
140  1960.583333            606
141  1960.666667            508
142  1960.750000            461
143  1960.833333            390
144  1960.916667            432>

In [85]:
mtcars=data("mtcars")
mtcars.head()

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [86]:
mtcars.to_excel("mtcarsdata.xlsx", index=True) # row name is pop up with index= true i.e- mazda Rx4,,,,

In [87]:
import pandas as pd

In [88]:
mtcars1=pd.read_excel("mtcarsdata.xlsx")

In [89]:
mtcars1.head()

,Unnamed: 0,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

# Missing value

In [90]:
mtcars.isnull().sum() # column wise missing value

mpg     0
cyl     0
disp    0
hp      0
drat    0
wt      0
qsec    0
vs      0
am      0
gear    0
carb    0
dtype: int64

In [91]:
mtcars.shape # row, column

(32, 11)

In [92]:
mtcars.notnull().sum(axis=0) # conts column sum for axis=0

mpg     32
cyl     32
disp    32
hp      32
drat    32
wt      32
qsec    32
vs      32
am      32
gear    32
carb    32
dtype: int64

In [93]:
mtcars.notnull().sum(axis=1) # counts row sum for axis =1

Mazda RX4              11
Mazda RX4 Wag          11
Datsun 710             11
Hornet 4 Drive         11
Hornet Sportabout      11
Valiant                11
Duster 360             11
Merc 240D              11
Merc 230               11
Merc 280               11
Merc 280C              11
Merc 450SE             11
Merc 450SL             11
Merc 450SLC            11
Cadillac Fleetwood     11
Lincoln Continental    11
Chrysler Imperial      11
Fiat 128               11
Honda Civic            11
Toyota Corolla         11
Toyota Corona          11
Dodge Challenger       11
AMC Javelin            11
Camaro Z28             11
Pontiac Firebird       11
Fiat X1-9              11
Porsche 914-2          11
Lotus Europa           11
Ford Pantera L         11
Ferrari Dino           11
Maserati Bora          11
Volvo 142E             11
dtype: int64

In [94]:
mtcars.duplicated().sum() # duplicate values finding

0

In [95]:
mtcars2 = mtcars.copy().reset_index().rename(columns={'index':'car'})  #duplicate, reset_index (rownames to column by index), rename by index to car
mtcars2.head()

,car,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [106]:
mazda=mtcars2[mtcars2["car"]=="Mazda RX4"]
print(mazda)

         car   mpg  cyl   disp   hp  drat    wt   qsec  vs  am  gear  carb
0  Mazda RX4  21.0    6  160.0  110   3.9  2.62  16.46   0   1     4     4

In [107]:
datsun=mtcars2[mtcars2['car']=='Datsun 710']
print(datsun)

          car   mpg  cyl   disp  hp  drat    wt   qsec  vs  am  gear  carb
2  Datsun 710  22.8    4  108.0  93  3.85  2.32  18.61   1   1     4     1

In [110]:
new_table=pd.concat([mtcars2,mazda,datsun,mazda], ignore_index=True)
print(new_table )

                    car   mpg  cyl   disp   hp  drat     wt   qsec  vs  am  \
0             Mazda RX4  21.0    6  160.0  110  3.90  2.620  16.46   0   1
1         Mazda RX4 Wag  21.0    6  160.0  110  3.90  2.875  17.02   0   1
2            Datsun 710  22.8    4  108.0   93  3.85  2.320  18.61   1   1
3        Hornet 4 Drive  21.4    6  258.0  110  3.08  3.215  19.44   1   0
4     Hornet Sportabout  18.7    8  360.0  175  3.15  3.440  17.02   0   0
5               Valiant  18.1    6  225.0  105  2.76  3.460  20.22   1   0
6            Duster 360  14.3    8  360.0  245  3.21  3.570  15.84   0   0
7             Merc 240D  24.4    4  146.7   62  3.69  3.190  20.00   1   0
8              Merc 230  22.8    4  140.8   95  3.92  3.150  22.90   1   0
9              Merc 280  19.2    6  167.6  123  3.92  3.440  18.30   1   0
10            Merc 280C  17.8    6  167.6  123  3.92  3.440  18.90   1   0
11           Merc 450SE  16.4    8  275.8  180  3.07  4.070  17.40   0   0
12           Merc 450SL  17.3    8  275.8  180  3.07  3.730  17.60   0   0
13          Merc 450SLC  15.2    8  275.8  180  3.07  3.780  18.00   0   0
14   Cadillac Fleetwood  10.4    8  472.0  205  2.93  5.250  17.98   0   0
15  Lincoln Continental  10.4    8  460.0  215  3.00  5.424  17.82   0   0
16    Chrysler Imperial  14.7    8  440.0  230  3.23  5.345  17.42   0   0
17             Fiat 128  32.4    4   78.7   66  4.08  2.200  19.47   1   1
18          Honda Civic  30.4    4   75.7   52  4.93  1.615  18.52   1   1
19       Toyota Corolla  33.9    4   71.1   65  4.22  1.835  19.90   1   1
20        Toyota Corona  21.5    4  120.1   97  3.70  2.465  20.01   1   0
21     Dodge Challenger  15.5    8  318.0  150  2.76  3.520  16.87   0   0
22          AMC Javelin  15.2    8  304.0  150  3.15  3.435  17.30   0   0
23           Camaro Z28  13.3    8  350.0  245  3.73  3.840  15.41   0   0
24     Pontiac Firebird  19.2    8  400.0  175  3.08  3.845  17.05   0   0
25            Fiat X1-9  27.3    4   79.0   66  4.08  1.935  18.90   1   1
26        Porsche 914-2  26.0    4  120.3   91  4.43  2.140  16.70   0   1
27         Lotus Europa  30.4    4   95.1  113  3.77  1.513  16.90   1   1
28       Ford Pantera L  15.8    8  351.0  264  4.22  3.170  14.50   0   1
29         Ferrari Dino  19.7    6  145.0  175  3.62  2.770  15.50   0   1
30        Maserati Bora  15.0    8  301.0  335  3.54  3.570  14.60   0   1
31           Volvo 142E  21.4    4  121.0  109  4.11  2.780  18.60   1   1
32            Mazda RX4  21.0    6  160.0  110  3.90  2.620  16.46   0   1
33           Datsun 710  22.8    4  108.0   93  3.85  2.320  18.61   1   1
34            Mazda RX4  21.0    6  160.0  110  3.90  2.620  16.46   0   1

    gear  carb
0      4     4
1      4     4
2      4     1
3      3     1
4      3     2
5      3     1
6      3     4
7      4     2
8      4     2
9      4     4
10     4     4
11     3     3
12     3     3
13     3     3
14     3     4
15     3     4
16     3     4
17     4     1
18     4     2
19     4     1
20     3     1
21     3     2
22     3     2
23     3     4
24     3     2
25     4     1
26     5     2
27     5     2
28     5     4
29     5     6
30     5     8
31     4     2
32     4     4
33     4     1
34     4     4